@page
@model MarriageAgencyWeb.Pages_Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Свойства</h1>

<div>
    <h4>Клиент</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Passport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Passport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.FamilyStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.FamilyStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.InfoAboutPartner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.InfoAboutPartner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.NumberOfChild)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.NumberOfChild)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.BadHabbits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.BadHabbits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Hobbies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Hobbies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.ZodiacId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.ZodiacId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Nationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Nationality.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Relation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Relation.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Service.ServiceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client.ClientId">Редактировать</a> |
    <a asp-page="./Index">назад</a>
</div>
