@page
@model MarriageAgencyWeb.Pages_Services.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Свойства</h1>

<div>
    <h4>Услуги</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service.Worker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service.Worker.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Service.ServiceId">Редактировать</a> |
    <a asp-page="./Index">Назад</a>
</div>
