@page
@model MarriageAgencyWeb.Pages_Services.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Услуги</h1>

<p>
    <a asp-page="Create">Добавить новую запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service[0].Worker)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Service) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Worker.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ServiceId">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.ServiceId">Свойства</a> |
                <a asp-page="./Delete" asp-route-id="@item.ServiceId">удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
