@page
@model MarriageAgencyWeb.Pages_ZodiacSigns.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Знак зодиака</h1>

<p>
    <a asp-page="Create">Добавить новую запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ZodiacSign[0].ZodiacName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZodiacSign[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ZodiacSign) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ZodiacName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ZodiacId">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.ZodiacId">Свойства</a> |
                <a asp-page="./Delete" asp-route-id="@item.ZodiacId">удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
