@page
@model MarriageAgencyWeb.Pages_Workers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Свойства</h1>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Passport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Passport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Worker.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Worker.Position.PositionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Worker.WorkerId">Редактировать</a> |
    <a asp-page="./Index">назад</a>
</div>
