@page
@model MarriageAgencyWeb.Pages_Relations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Отношение</h1>

<p>
    <a asp-page="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Relation[0].RelationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relation[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Relation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RelationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RelationId">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.RelationId">Свойства</a> |
                <a asp-page="./Delete" asp-route-id="@item.RelationId">удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
